@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@media (max-width: 1300px) {
  .explore__photos {
    max-width: 950px !important;
  }
  .explore__photos .explore__photos--photo3 {
    display: none;
  }
}
@media (max-width: 920px) {
  .explore .explore__num--header {
    padding-top: 72px !important;
  }
  .explore .explore__num--header .explore__num--header--title {
    font-size: 40px !important;
    line-height: 46px !important;
  }
  .explore .explore__num--header .explore__num--header--text {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    width: 314px !important;
  }
  .explore .explore__container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 69px !important;
  }
  .explore .explore__container .explore__container--content--title {
    padding-top: 8px;
  }
  .explore .explore__container .explore__container--content--text {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    color: #E0E0E0 !important;
    padding-top: 8px;
  }
  .explore .explore__photos {
    max-width: 500px !important;
  }
  .explore .explore__photos .explore__photos--photo2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .explore .explore__title {
    font-size: 40px !important;
    max-width: 314px;
    line-height: 46px !important;
  }
  .explore .explore__photos {
    max-width: 350px !important;
  }
  .explore .explore__photos .explore__photos--photo1 {
    max-width: 275px;
  }
}
* {
  padding: 0;
  margin: 0;
}

.explore {
  width: 100%;
  background: url("../img/background-photo.png");
}
.explore .explore__title {
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  margin: 0 auto;
  padding-top: 127px;
  animation: 1s show1;
}
@keyframes show1 {
  0% {
    opacity: 0;
    transform: translateX(-3000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.explore .explore__photos {
  margin: 0 auto;
  max-width: 1433px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 58.313rem;
  animation: 1s show2;
}
.explore .explore__photos .explore__photos--strelka {
  height: 24px;
}
.explore .explore__photos .explore__photos--photo1 {
  transition: transform 0.3s ease-in-out;
}
.explore .explore__photos .explore__photos--photo1:hover {
  transform: scale(1.1);
}
.explore .explore__photos .explore__photos--photo2 {
  transition: transform 0.3s ease-in-out;
}
.explore .explore__photos .explore__photos--photo2:hover {
  transform: scale(1.1);
}
.explore .explore__photos .explore__photos--photo3 {
  transition: transform 0.3s ease-in-out;
}
.explore .explore__photos .explore__photos--photo3:hover {
  transform: scale(1.1);
}
@keyframes show2 {
  0% {
    opacity: 0;
    transform: translateX(3000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.explore .explore__num {
  background-color: rgba(2, 12, 33, 0.9);
}
.explore .explore__num .explore__num--header {
  padding-top: 12.5rem;
}
.explore .explore__num .explore__num--header .explore__num--header--title {
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  animation: 1s show1;
  color: white;
}
.explore .explore__num .explore__num--header .explore__num--header--text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  width: 484px;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 37px;
  animation: 1s show2;
}
.explore .explore__num .explore__container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 11.75rem;
  animation: 1s show3;
}
.explore .explore__num .explore__container .explore__container--content--first {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.explore .explore__num .explore__container .explore__container--content--first .explore__container--content--title {
  font-family: DM Sans;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.3862603307px;
  text-align: center;
  color: #DD2242;
}
.explore .explore__num .explore__container .explore__container--content--first .explore__container--content--text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7684AA;
}
.explore .explore__num .explore__container .explore__container--content--second {
  display: flex;
  flex-direction: column;
  width: 377px;
}
.explore .explore__num .explore__container .explore__container--content--second .explore__container--content--title {
  font-family: DM Sans;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.3862603307px;
  text-align: center;
  color: #DD2242;
}
.explore .explore__num .explore__container .explore__container--content--second .explore__container--content--text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7684AA;
}
.explore .explore__num .explore__container .explore__container--content--third {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.explore .explore__num .explore__container .explore__container--content--third .explore__container--content--title {
  font-family: DM Sans;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.3862603307px;
  text-align: center;
  color: #DD2242;
}
.explore .explore__num .explore__container .explore__container--content--third .explore__container--content--text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7684AA;
}
@keyframes show3 {
  0% {
    opacity: 0;
    transform: translateY(3000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}